/* Nithya Duggaraju Final Coding Project SI 539*/

/* Styling and Default Mobile View*/
.skip a{
    background-color: black;
    position: absolute;
    top: -40px;
  }

.skip a:focus{
    top: 0;
    left: 10px;
}

a{
    color: #D3D2AE;
}


body{
    background: #F3F2E2;
    margin: 0;
}

h1{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, Helvetica;
    text-align: center;
    color: #26301D;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, Helvetica;
    text-align: left;
    color: #26301D;
    font-weight: bold;
}

h3{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, Helvetica;
    text-align: left;
    color: #26301D;
    font-weight: bold;
}

footer{
    background-color: #26301D;
    text-align: center;
    padding: 10px;
    color: #D3D2AE;
}

img{
    width: 100%;
    justify-content: left;
    position: relative;
    animation: slideBounce 2s ease-out forwards;
    transform: translateX(-100%);
}

@keyframes slideBounce {
    0%{
      transform: translateY(0px);
      left: -100%
    }
    50%{
      transform: translateX(0px) translateY(-20px);
      left: 0;
    }
    70%{
      transform: translateY(20px);
    }
    80%{
      transform: translateY(0px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

header nav ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    gap: 20px;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0;
    align-items: center;
}

.header{
    display: flex;
    background-color: #26301D;
    width: 100%;
    padding: 10px;
    min-height: 40px;
    align-items: center;
}

.container{
    padding: 15px;
}

@media all and (prefers-reduced-motion: reduce){
    img{
        animation: none;
    }
}


/*Desktop View*/
@media only screen and (min-width: 1440px) {
    .sequoia_content{
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }


    .container_s{
        padding: 30px;
    }

    .yosemite_content{
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .container_y{
        padding: 30px;
    }

    .container img{
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    img{
        width: 100%;
        object-fit: cover;
    }

}